.App {
  text-align: center;
  display: flex;
  background-color: #BA4949;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  color: white;
}
.container{
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.Section{
  flex-direction: row;
  display: flex;
  margin-top: 25px;
}
.Section p{
  font-size: 20px;
  margin:auto;
  cursor: pointer;
}
.Clock{
  margin-top: 50px;
}
.Clock p{
  font-size: 100px;
  font-weight: 100;
}
.active{
  height: 50px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
}
.container button{
  text-decoration: none;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


