.App {
  text-align: center;
  display: flex;
  background-color: #BA4949;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  color: white;
}
.container{
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.Section{
  flex-direction: row;
  display: flex;
  margin-top: 25px;
}
.Section p{
  font-size: 20px;
  margin:auto;
  cursor: pointer;
}
.Clock{
  margin-top: 50px;
}
.Clock p{
  font-size: 100px;
  font-weight: 700;
}
.active{
  height: 50px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
}
.button button{
  text-decoration: none;
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  background-color: white;
  color: rgb(186, 73, 73, 1);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: color;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.List{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.List li{
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  width: 400px;
  justify-content: flex-start;
}
.Form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Form input{
  background: transparent;
  border: none;
  border-bottom: solid 3px rgba(255, 255, 255, 0.6);
  width: 400px;
  height: 60px;
  font-size: 20px;
  color: white; 
}
.Form button{
  border: none;
  width: 400px;
  height: 64px;
  margin-top: 20px;
  background-color: rgb(0,0,0,0.1);
  font-size: 20px;
  font-weight: 700;
  color: white; 
  cursor: pointer;
}


